<p style="margin-left:20px;">
<!-- Twitter button -->
<span>
<a target="_blank" href="https://twitter.com/share" class="twitter-share-button" data-url="<%= content[:permlink] %>" data-text="<%= content[:title] %>" data-via="heisakusaku" data-lang="ja" data-size="medium">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</span>
<!-- Twitter button -->
<!-- hatena button -->
<span>
<a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" title="このエントリーをは>てなブッ>クマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</span>
<!-- hatena button -->
<!-- pinterest -->
<span>
<a data-pin-do="buttonBookmark" data-pin-tall="true" data-pin-lang="ja" href="https://jp.pinterest.com/pin/create/button/"></a>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</span>
<!-- pinterest -->
<!-- pocket -->
<style type="text/css">.pocket-btn {display:inline;}</style>
<span>
<a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
</span>
<!-- pocket -->
</p>
<hr />
