  <div class="sidemenu">
  <% if(@categbase_changelog) %>
  <h2 class="heading">tagcloud</h2><ul id="tagcloud" class="tagcloud"></ul>
  <% end %>
  </div>
  <footer class="footer">
	  <p class="copyright">Copyright © 2021 <%= @@changelog.config[:title] %></p>
  </footer>
</body>
</html>
